[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/hyperdrive"]
	path = lib/hyperdrive
	url = https://github.com/delvtech/hyperdrive
[submodule "lib/chronicle-std"]
	path = lib/chronicle-std
	url = https://github.com/chronicleprotocol/chronicle-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
